.contents-main{
  width: 100%;
  height:100%;
}

.contents-main-box{
  width: 100%;
  height:30%;
  background-color: red;
}

.contents-bottom{
  width: 100%;
  height:70%;
  background-color: chocolate;
}

.contents-bottom-ttl{
  display: inline-block;
  background-color: pink;
}

.contents-bottom-ttl-img{
  display: inline-block;
  width: 100%;
  height:80%;
  background-color: purple;
}

.contents-bottom-ttl-img img{
  width: 50%;
  height:50%;
  margin-left: 50%;
}

.contents-bottom-ttl-box{
  display: inline-block;
  width: 70%;
  height:20%;
  background-color: blue;
}