.contents-main{
  display: inline-block;
  width:100vw;
  height:100vh;
  position: center;
  margin:auto;

}

.contents-main-box{
  display:flex;
  padding-top:30px;
  width:100%;
  color:#0000CD;

}

.contents-main-ttl{
  font-size: 30px;
  padding:10px 10px 10px 50px;
}

.contents-main-menu{
  font-size:20px;
  margin:0 0 0 50%;
}

.contents-main-menu-block{
  display: inline-block;
  height: 50%;
  font-weight: bold;
  text-decoration: none;
  color:blue;
}

.contents-main-menu-block:hover{
  color:blue;
}

.contents-bottom{
  width:100%;
  height: 100%;
  position: relative;
}

.contents-bottom-ttl{
  position: absolute;
  top: 53%;
  padding:auto;
  font-size: 60px;
  font-weight: lighter;
}

.contents-bottom-ttl-img{
  width: 55vw;
  position: relative;
  bottom:-10%;
  left:50%;

}

.contents-bottom-ttl-img img{
  width:80%;
}

.contents-bottom-ttl-box{
  width:70vw;
  height:20vh;
  background-color: blue;
}